{% extends 'blog/basic.html' %}


{% block body %}


  <div class="container mt-3">

    <div class="row my-2">
      {% for i in blog %}
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">{{i.head0}}</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="#">{{i.title}}</a>
            </h3>
            <div class="mb-1 text-muted">{{i.pub_date}}</div>
            <p class="card-text mb-auto">{{i.head1}}</p>
            <a href="/blog/blogpost/{{i.post_id}}">Continue reading</a>
          </div>
          <img src="/media/{{i.thumbnail}}" class="bd-placeholder-img card-img-right flex-auto d-none d-lg-block" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"></rect></img>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
{% endblock %}